

<% movie.errors.full_messages.each do |message| %>
  <p style="color: red;"><%= message %></p>
<% end %>

<%= form_with(model: movie) do |form| %>
  <div class="mb-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, rows: 3, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :image_url, class: "form-label" %>
    <%= form.text_field :image_url, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :released_on, class: "form-label" %>
    <%= form.date_select :released_on, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
